body {
	font-size: 16px;
	line-height: 1.4;
	font-family: 'Sanchez', serif;
	letter-spacing: 1px;
	color: black;
}

header {
	background: #293e52;
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.title {
	margin: 20px;
	float: left;
	color: #E87345;
}

nav {
    float: right;
    padding: 18px 20px 20px 0px;
}

ul {
	list-style: none;
	text-decoration: none;
}

a {
	color: #E87345;
}

a:hover {
    color: #E87345;
}

.title {
	font-size: 2rem;
	font-weight: 200;
}

#contact_me {
	color: #E87345;
	font-size: 2rem;
	font-weight: 200;
}

.me {
	position: relative;
	margin-top: 60px;
	background-image: url("../img/background.png");
	background-size: cover;
	background-position: center;
	color: black;
}

.me_headline {
	width: 50%;
	margin: auto auto auto 20px;
}

.me_description {
	width: 70%;
	margin: 40px auto auto 20px;
}

.me_link {
	margin: auto auto auto 20px;
	color: #E87345;
	text-decoration: none;
}

.works_piece {
	margin: 20px auto auto 20px;
}

section {
	width: 29%;
	float: left;
	margin: 2% 2%;
	text-align: center;
}

img {
	width: 100%;
	height: 200px;
	border: 1px solid black;
}

footer {
	background: #293e52;
	width: 100%;
	overflow: hidden;
}

footer p, footer h3 {
	color: black;
}

footer p a {
	color: black;
}

ul.social li {
	display: inline;
}

ul.social li img {
	height: 50px;
	width: 50px;
	border:none;
}

.copyright {
	padding: 20px;
}











