body {
	font-size: 16px;
	line-height: 1.4;
	font-family: 'Sanchez', serif;
	letter-spacing: 1px;
	color: black;
}

header {
	background: #293e52;
	width: 100%;
	height: 60px;
	position: fixed;	
	top: 0;
	left: 0;
	z-index: 100;
}

.title {
	margin: 20px;
	float: left;
	color: #E87345;
}

nav {
    float: right;
    padding: 18px 20px 20px 0px;
}

ul {
	list-style: none;
	text-decoration: none;
}

a {
	color: #E87345;
}

a:hover {
    color: #E87345;
}

.title {
	font-size: 2rem;
	font-weight: 200;
}

#contact_me {
	color: #E87345;
	font-size: 2rem;
	font-weight: 200;
}

.me {
	position: relative;
	margin-top: 60px;
	background-image: url("../img/background.png");
	background-size: cover;
	background-position: center;
	color: black;
}

.me_headline {
    width: 96%;
    margin: auto auto auto 20px;
}

.me_description {
    width: 98%;
    margin: 40px auto auto 20px;
}

.me_link {
	margin: auto auto auto 20px;
	color: #E87345;
	text-decoration: none;
}

.works_piece {
	margin: 20px auto auto 20px;
}

section {
	width: 29%;
	float: left;
	margin: 2% 2%;
	text-align: center;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 1px solid black;
    max-height: 100vh;
}

footer {
	background: #293e52;
	width: 100%;
	overflow: hidden;
}

footer p, footer h3 {
	color: black;
}

footer p a {
	color: black;
}

ul.social li {
	display: inline;
}

ul.social li img {
	height: 50px;
	width: 50px;
	border:none;
}

.social {
    margin-left: -12%;
}

.copyright {
	padding: 20px;
}

@media only screen and (max-width: 768px) {

section {
    width: 46%;
    float: left;
    margin: 2% 2%;
    text-align: center;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 14px;
}

}

@media only screen and (max-width: 425px) {

.me_description {
    width: 88%;
    margin: 40px auto auto 20px;
}

section {
    width: 96%;
    float: left;
    margin: 2% 2%;
    text-align: center;
}

.works_piece {
    margin: 20px auto 20px 20px;
}

h4 {
    font-size: 14px;
}

.social {
    margin-left: -10%;
}

ul.social li img {
    height: 30px;
    width: 30px;
    border: none;
}

.copyright {
    padding: 20px;
    font-size: 14px;
}

}

@media only screen and (max-width: 375px) {

h4 {
    font-size: 12px;
}

}

@media only screen and (max-width: 320px) {

nav {
    width: 57%;
    margin-top: -61px;
}

.me_headline {
    width: 92%;
    margin: auto auto auto 20px;
}

h2 {
	font-size: 21px;
}

h3 {
	font-size: 16px;
}

h4 {
    font-size: 14px;
}

p {
	font-size: 14px;
}

.social {
    margin-left: -13%;
}

.copyright {
    padding: 20px;
    font-size: 14px;
}

}









